html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 200px;
    top: -200px;
}

.parent {
  justify-content: center;
  align-items: center;
}
